<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="f4.hubby">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="f4.hg.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="f4.hg.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:excludeFromRecents="true"
            android:theme="@style/SettingTheme" />

        <activity
            android:name="f4.hg.HiddenAppsActivity"
            android:label="@string/pref_header_hidden_apps"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme" />

        <activity
            android:name="f4.hg.BackupRestoreActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>